@import url('//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo
{
	width: 35%;
	max-width: 600px;
	margin-top: 3%;
	height: 250px;
	max-height: 450px;
	padding-left: 50px;
	padding-top: 40px;
}

.titleContainer
{
	display: flex;
	flex-direction: column;
	max-width: 50%;
}

.header
{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 14px;
	position: relative;
	text-align: right;
}

.title
{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 140px;
	line-height: 80%;
	color:rgb(121, 121, 121);
}

.bodyText
{
	font-family: 'Poppins', sans-serif;
	font-size: smaller;

	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.tabHolder
{
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 80px;
	width: 70%;
	max-width: 820px;
	height: 80%;
	margin-left: auto;
	right: 50px;
}

.tab, .film, .illustration, .gameDev
{
	height: 100%;
	width: 100%;
	max-width: 250px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 20px 20px;
}

.film
{
	background-image: linear-gradient(to bottom, #F4E9E9, #ffffff00);
}

.illustration
{
	background-image: linear-gradient(to bottom, #F2F4E9, #ffffff00);
}

.gameDev
{
	background-image: linear-gradient(to bottom, #EFE9F4, #ffffff00);
}