@import url('//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html
{
	scroll-behavior: smooth;
}

body::-webkit-scrollbar
{
	display: none;
}

body
{
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.logo
{
	padding: 40px;
}

.titleContainer
{
	display: grid;
	grid-template-rows: 720px;
	grid-template-columns: 30% 70%;
}

.header
{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 14px;
	position: relative;
	text-align: right;

	animation: fade-in 1s;
}

@keyframes fade-in
{
	0%
	{
		opacity: 0;
		transform: translateY(30px);
	}
	100%
	{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes fade-in-tab
{
	0%
	{
		opacity: 0;
		transform: translateY(80px);
	}
	100%
	{
		opacity: 1;
		transform: translateY(0px);
	}
}

.title
{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 140px;
	line-height: 80%;
	color:rgb(121, 121, 121);
}

.bodyText
{
	font-family: 'Poppins', sans-serif;
	font-size: smaller;

	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.tabHolder
{
	grid-area: 1 / 2 / 1 / 2;
	display: flex;
	justify-content: space-between;
}

.tab, .tab1, .tab2, .tab3
{
	height: 100%;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 70px;
	border-radius: 15px 15px;
	overflow: hidden;

	animation: fade-in-tab 1s;
	animation-fill-mode: backwards;


	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.tab:hover, .tab1:hover, .tab2:hover, .tab3:hover
{
	transform: translateY(-30px);
	cursor: pointer;
}

.tab1
{
	background-image: linear-gradient(to bottom, #F4E9E9, #ffffff00);

	animation-delay: 0s;
}

.tab2
{
	background-image: linear-gradient(to bottom, #F2F4E9, #ffffff00);
	
	animation-delay: 0.25s;
}

.tab3
{
	background-image: linear-gradient(to bottom, #EFE9F4, #ffffff00);

	animation-delay: 0.5s;
}

.tabImg
{
	opacity: 30%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	-webkit-mask-image: linear-gradient(rgba(0,0,0,1), transparent);
	mask-image: linear-gradient(rgba(0,0,0,1), transparent);

	transition-property: opacity, transform;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.tabImg:hover
{
	transform: scale(1.15);

	opacity: 100%;
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

.tabTitle
{
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;

	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 150%;
	color: rgb(255, 255, 255);
	opacity: 0%;
	text-align: center;
	line-height: 25px;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition-property: opacity, top;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.tab1:hover .tabTitle{
	opacity: 100%;
	top: 50%;
}

.tab2:hover .tabTitle{
	opacity: 100%;
	top: 50%;
}

.tab3:hover .tabTitle{
	opacity: 100%;
	top: 50%;
}

.segmentContainer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;

	margin-left: -8px;
	margin-right: -8px;
}

.segmentText
{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 14px;
}

.segmentBG
{
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}

.bgContainer
{
	overflow: hidden;
	-webkit-mask-image: linear-gradient(rgba(0,0,0,1), 60%, transparent);
	mask-image: linear-gradient(rgba(0,0,0,1), 60%, transparent);
}